body{
	background: #abc1;
}
.container{
	background: #fff;
	height: 100%;
	padding-bottom: 30px;
}
ul, ul li{
	list-style: none;
	list-style-type: none;
}

a:link {
	text-decoration: none;
}

li{
	display: inline-block;
}

li .recipe-img{
	width: 100%;
	height: 220px;
}

li .recipe-title{
	font-size: 12pt;
	margin-bottom: 15px;
	padding: 15px;
	background: #534B4B;
	color:#fff;
	display:table;
	width: 100%;
	height: 175px;
}

li .recipe-img{
	display: block;
}
.filters{
	display: block;
	margin-bottom: 20px;
}
.recipe-title p{
	line-height: 1em;
	font-family: 'Inconsolata', sans-serif;
	font-size: 15px;
}
.logo{
	width: 280px;
	display: block;
	margin:15px auto;
}
#recipes{
	display: block;
	margin:0 auto;
	padding: 0;
	width: 100%;
}
.filters button,
.filters input,
.filters select,
.filters label{
	height: 30px;
	border-radius: 5px;
	font-family: 'Khand', sans-serif;
	font-size: 14pt;
}
.filters .btn.btn-secondary{
	padding: 0 15px;
}

@media only screen and (device-width: 768px) {
	li .recipe-title{
		height: 215px;
	}
}